<!DOCTYPE html>
<html>
		<!-- 内容区盒子 -->
		<div class="main-content">
			<!-- 表格区盒子 -->
			<div class="panel">
				<!-- 表格头部 -->
				<div class="panel-heading">
					<!-- 表格标题 -->
					<h3 class="panel-title">用户数据展示</h3>
					<div class="right">
						<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
						<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
					</div>
				</div>

				<!-- 表格主体 -->
				<div class="panel-body no-padding">

					<!-- 搜索控件 -->
					<form class="navbar-form navbar-left" action="#">
						<!-- 搜索框 -->
						<div class="input-group">
							<input type="text" class="form-control" placeholder="请输入搜索数据...">
						</div>

						<!-- 起始时间 -->
						<div class="input-group">
							<input type="date" class="form-control">
						</div>
						<!-- 终止时间 -->
						<div class="input-group">
							<input type="date" class="form-control">
						</div>

						<!-- 下拉列表 -->
						<div class="input-group">
							<select class="form-control">
								<option>==父级权限==</option>
								<option>系统管理</option>
								<option>内容管理</option>
								<option>预定管理</option>
							</select>
						</div>

						<!-- 按钮和超链接 -->
						<div class="input-group">
							<span class="input-group-btn"><button type="submit"
									class="btn btn-success">查询</button></span>
							<span class="input-group-btn"><a href="添加修改页面.html" class="btn btn-primary"
									style="margin-left: 5px;">添加</a></span>
							<span class="input-group-btn"><a href="#" class="btn btn-danger"
									style="margin-left: 5px;">批量删除</a></span>
						</div>
					</form>

					<table class="table table-striped" style="font-size: 20px;">
						<!-- 表头 -->
						<thead>
							<tr>
								<th>
									<input type="checkbox" />
									ID
								</th>
								<th>用户姓名</th>
								<th>账户</th>
								<th>注册时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<input type="checkbox" />
									1001
								</td>
								<td>Steve</td>
								<td>aa123</td>
								<td>2018-09-09 14:23:34</td>
								<td>
									<a href="#" class="label label-primary">编辑</a>
									<a href="#" class="label label-danger">删除</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox" />
									1002
								</td>
								<td>Amber</td>
								<td>bb123</td>
								<td>2018-09-09 14:23:34</td>
								<td>
									<a href="#" class="label label-primary">编辑</a>
									<a href="#" class="label label-danger">删除</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox" />
									1003
								</td>
								<td>Michael</td>
								<td>cc123</td>
								<td>2018-09-09 14:23:34</td>
								<td>
									<a href="#" class="label label-primary">编辑</a>
									<a href="#" class="label label-danger">删除</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox" />
									1004
								</td>
								<td>Roger</td>
								<td>dd123</td>
								<td>2018-09-09 14:23:34</td>
								<td>
									<a href="#" class="label label-primary">编辑</a>
									<a href="#" class="label label-danger">删除</a>
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox" />
									1005
								</td>
								<td>Smith</td>
								<td>ee123</td>
								<td>2018-09-09 14:23:34</td>
								<td>
									<a href="#" class="label label-primary">编辑</a>
									<a href="#" class="label label-danger">删除</a>
								</td>
							</tr>
						</tbody>
					</table>

					<!-- 分页控件 -->
					<ul class="pagination" style="float: right;margin-right: 1%;margin-top: 0%;">
						<li><a href="#">&laquo;</a></li>
						<!-- 声明class为active表示当前超链接被选中，用于表示当前页 -->
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 内容区盒子结束 -->
</html>
